.list-cont {
    display: flex;
    flex-direction: row;
    width: 300px;
    margin: 0 auto;
}

.list-cont .list-control {
    background-color: #FFFFFF;
    border: 1px solid #D1D1D1;
    border-radius: 3px;
}

.list-cont .list {
    width: 75%;
    margin-right: 20px;
}

.list-cont .list select {
    width: 100%;

    padding: 5px 10px;
}

.list-cont .controls,
.list-cont .controls .main,
.list-cont .controls .extra {
    display: flex;
    flex-direction: column;
}

.list-cont .controls {
    width: 35%;
    justify-content: space-between;
}

.list-cont .controls .ctrl-btn {
    width: 100%;
    height: 40px;
    cursor: pointer;
}

.list-cont .controls .main .ctrl-btn {
    margin-bottom: 10px;
}