@font-face {
    font-family: "Source Sans Pro";
    src: url("../fonts/source-sans-pro/SourceSansPro-Regular.ttf");
}

body {
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}

header {
    background-color: #f2f2f2;
    padding: 30px 10px;
    border-bottom: 1px solid #D1D1D1;
}

header h1 {
    font-weight: 400;
    margin: 0;
}

main {
    padding: 30px 0;
}

.hidden {
    display: none !important;
}

.mb-md {
    margin-bottom: 20px;
}

.text-center {
    text-align: center;
}

.info {
    width: 300px;
    margin: 0 auto;
    text-align: justify;
    padding: 5px;
    background-color: #f6f6f6;
    border-radius: 3px;
}

.loader-cont {
    position: relative;
    width: 300px;
    margin: 0 auto;
}

.loader{
    width: 100px;
    height: 100px;
    border-radius: 100%;
    position: relative;
    margin: 0 auto;
}

.loader:before, .loader:after{
    content: "";
    position: absolute;
    top: -10px;
    left: -10px;
    width: 100%;
    height: 100%;
    border-radius: 100%;
    border: 10px solid transparent;
    border-top-color: #3498db;
}

.loader:before{
    z-index: 100;
    animation: spin 1s infinite;
}

.loader:after{
    border: 10px solid #ccc;
}

@keyframes spin{
    0%{
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
    }

    100%{
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        -o-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}